# pixi environments
.pixi
*.egg-info

# 编辑器
.vscode/
.idea/
*.swp
*.swo
*~
.cursor/
.cursorrules
.agents/

skills-lock.json

docs/

data/
outputs/
logs/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python


# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb


reports/
